annotated-types
anyio
beautifulsoup4
certifi
charset-normalizer
distro
exceptiongroup
feedparser
h11
httpcore
httpx
idna
jiter
openai
pydantic
pydantic_core
requests
sgmllib3k
sniffio
soupsieve
tqdm
urllib3
